.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.container .row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.container .row .col-1 {
    flex: 100%;
}

.container .row .col-2 {
    flex: 50%;
}

.container .row .col-3 {
    flex: 33.33%;
}

.container .row .col-4{
    flex: 25%;
}

.container .row .col-5 {
    flex: 20%;
}

.container .row .col-6 {
    flex: 16.66%;
}

.input {
    border: 1px solid lightgrey;
    border-radius: 10px;
    outline: none;
    width: 100%;
    line-height: 40px;
}

.label {
    position: absolute;
}

.input .label {
    height: 45px;
}

.label {
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
}

.card {
    display: flex;
    align-items: center;
    box-shadow:  0 4px 8px 0 lightgrey;
    border-radius: 5px;
    width: 70%;
}

.card:hover {
    box-shadow:  0 8px 16px 0 lightgrey !important;
}

.center {
    display: flex;
    justify-content: center;
}